body {
  background-color: #ddeecc;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.boon {
  border: 0px;
  border-style: none;
  display: inline-block;
  padding: 5px;
  text-align: center;
}

.boon-interior {
  background-color: #ffddcc;
  border-color: black;
  border-style: solid;
  margin: 5px;
  padding: 5px;
}

.card-interior {
  background-color: #ffffff;
  border-color: black;
  border-style: solid;
  margin: 5px;
  padding: 5px;
}

.content-card {
  border: 0px;
  border-style: none;
  display: inline-block;
  padding: 5px;
  text-align: center;
}

.content-card-name {
  border: 1px;
  border-style: solid;
  width: 100%;
}

.card-holder {
  margin: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.filter-bar {
  width: 100%;
}

.filter-input {
  display: inline-block;
  margin-left: 5px;
  width: fit-content;
}

header {
  margin: 20px;
  text-align: center;
}

.inline {
  display: inline-block;
}

.plant {
  border: 0px;
  border-style: none;
  display: inline-block;
  padding: 5px;
  text-align: center;
}

.plant-filter {
  background-color: #cceeff;
  border-color: black;
  border-style: solid;
  display: inline-block;
  margin: 5px 25px;
  padding: 5px;
  text-align: center;
  width: fit-content;
}

.plant-interior {
  background-color: #eeffcc;
  border-color: black;
  border-style: solid;
  margin: 5px;
  padding: 5px;
}

.spell {
  border: 0px;
  border-style: none;
  display: inline-block;
  padding: 5px;
  text-align: center;
}

.spell-interior {
  background-color: #ccddff;
  border-color: black;
  border-style: solid;
  margin: 5px;
  padding: 5px;
}

.my-tooltip {
  position: relative;
  display: inline-block;
  /* margin-right: 3px; */
}

.tooltiptext {
  background-color: #000000a0;
  color: #fff;
  margin-left:5px;
  padding: 3px;
  position: absolute;
  text-align: center;
  visibility: hidden;
  width:240px;
  z-index: 1;
}

.my-tooltip:hover .tooltiptext {
  visibility: visible;
}